body{
    background: #000;
}

img{
    width: 100%;
    color: #fff;
    border: 3px solid #fff;
}

#movies{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background: #333;
}

#movies div{
    padding: 10px;
}

.bd{
   border: 1px solid #fff;
}

#movies div h5{
    color: #fff;
    padding-top: 10px;
}